<!-- Audio seulement - le vinyl est intégré dans le buzzer -->
<div data-audio-target="player">
  <audio src="<%= question.song.preview_url %>"
    autoplay
    data-audio-target="audioElement">
  </audio>
</div>
