<% is_host = @user_session.group.host_id == current_or_guest_user.id %>

<% if is_host %>
  <div data-audio-target="player">
    <audio src="<%= question.song.preview_url %>"
      autoplay
      data-audio-target="audioElement">
    </audio>
  </div>
<% end %>
