// ==========================================================
// _shapes.scss - Neo Brutalism Decorative Shapes
// ==========================================================
@import "../base/variables";

// -----------------------------
// Base Shape Styles
// -----------------------------
// Shapes désactivés
.shape-1,
.shape-2,
.shape-3 {
  display: none !important;
}