
<head>
  <title>Share Card - MusixBox</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>

  <div class="container-100 d-flex align-items-center p-2">
    <div class="justify-content-center w-100">
      <div class="col-12 col-md-8 col-lg-6">

        <%= render "shared/card" %>

  </div>
  </div>
  </div>

<div class="bottom-buttons d-flex no-print">
  <%= button_tag "Save",
      type: "button",
      class: "button-left flex-grow-1 bg-orange-theme w-50",
      onclick: "savePhoto()" %>

  <%= button_tag "Share results",
      type: "button",
      class: "button-right flex-grow-1 bg-yellow-theme w-50",
      onclick: "shareResults()" %>

</div>

</body>
